body {
    color: #a9FFF7;
    background-color: #93b7be;
    text-align: center;
}

#banner{
    color: #b8e1ff;
    background-color: #93b7be;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    /*border: 2px solid #403925;*/
    /*border-radius: 5px;*/
}

#one_table{

    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;

    box-sizing: padding-box;
    /*padding: 20px;*/
    border: 1px solid black;

    size: 40px;
    color: #a9FFF7;
    height: 100%;
}