<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giglist</title>
    <link rel='stylesheet' href="../static/css/styles.css"/>
</head>
<body>
    <div id ="banner">
        <h1>
            Gig Details
        </h1>
    </div>

<!-- created table -->
    <div id="one_table">
        <table>
            <tr>
                <th>Show Name</th>
                <th>Contact Name</th>
                <th>Quality</th>
            </tr>
            <tr>
                <td th:text = "${showName}"> </td>
                <td th:text = "${contactName}"> </td>
                <td th:text = "${quality}"> </td>
            </tr>
        </table>
    </div>
</body>
</html>