<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giglist</title>
</head>
<body>
    <h1>
        Gig Details
    </h1>
    <table>
        <tr>
            <th>Show Name</th>
            <th>Contact Name</th>
            <th>Quality</th>
        </tr>
        <tr>
            <th>Shhhhhark</th>
            <th>Evan Desmarais</th>
            <th>5</th>
        </tr>
    </table>

<!-- created table -->
    <div id="one_table">
        <ttable>
            <tr>
                <th>Show Name</th>
                <th>Contact Name</th>
                <th>Quality</th>
            </tr>
            <tr>
                <tth><a th:text='${gigTest.getName()}'></a> </tth>
            </tr>
        </ttable>
    </div>
</body>
</html>