
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giglist</title>
    <link rel='stylesheet' type="text/css" th:href="@{/assets/css/style.css}"/>
</head>
<body>
    <div id ="banner">
        <h1>
            Gig Details
        </h1>
    </div>

<!-- created table -->
    <div id="one_table">
        <table>
            <tr>
                <th>Show Name</th>
                <th>Contact Name</th>
                <th>Quality</th>
            </tr>
            <th:block th:each="gig: ${gigs}">
                <tr>
                    <td th:text = "${gig.getShowName()}"></td>
                    <td th:text = "${gig.getContactName()}"></td>
                    <td th:text = "${gig.getQuality()}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div id = "add_form">
        <!-- The problem was this was the action section. Something to do with not using the hashtag to go back to the
        page? Only thing that really got changed so pretty sture that's it-->
        <form method="POST" action = "#" modelAttribute="gig">
            Show Name <br>
            <!-- probs something to do with names, it's creating the model but not doing anything with it -->
            <!-- maybe a thymeleaf formatting thing -->
            <input type = "text", name = "Gig_showName"> <br>
            Contact Name <br>
            <input type = "text", name = "Gig_contactName"> <br>
            Quality <br>
            <input type="number", name="Gig_quality"> <br>
            <input type = "submit" value = "Submit">
        </form>
    </div>
</body>
</html>