<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<div class="container text-center buffer-top-bottom">
    <h1> Edit Gig Deets </h1>
</div>
<form method = "POST" id ="newEditGig" th:action = "@{/gig_display/update_test}" modelAttribute ="updatedGig">
    <input type="text" name = "Gig_id" id = "Gig Id" size = "100" th:value="${gig.getGigId()}" value style="display: none">
    <h4>Show Name</h4>
    <input type="text" name = "Gig_showName" id = "Show Name" size = "100" th:value ="${gig.getShowName()}" value>
    <h4>Contact Name</h4>
    <input type="text" name = "Gig_contactName" id = "Contact Name" size = "100" th:value ="${gig.getContactName()}" value>
    <h4>Quality</h4>
    <input type="text" name = "Gig_quality" id = "Quality" size = "100" th:value ="${gig.getQuality()}" value>
    <h4>
        <input type = "submit" value = "Submit">
    </h4>
</form>

</body>

</html>